{% extends 'base.html.twig' %}

{% block title %}Ремонт Холодильников{% endblock %}

{% block body %}
    {% block carousel %}
        <div id="myCarousel" class="carousel slide" data-ride="carousel">
            <ol class="carousel-indicators">
                {% for home_page_content in home_page_contents %}
                    <li data-target="#carousel" data-slide-to="{{ loop.index0 }}" {% if loop.index0 == 0 %} class="active" {% endif %}></li>
                {% endfor %}
            </ol>
            <div class="carousel-inner">
                {% for home_page_content in home_page_contents %}
                <div {% if loop.index0 == 0 %} class="carousel-item active" {% else %} class="carousel-item" {% endif %}>
                    <img class="d-block" src="{{ asset('images/upload_images/' ~ home_page_content.imgCarusel) }}" alt="#">
                    <div class="container">
                        <div class="carousel-caption text-center">
                            <h1 class="text-uppercase font-weight-bold" style="text-shadow: black 0 0 2px;">{{ home_page_content.headingCarusel }}</h1>
                            <p style="text-shadow: black 0 0 2px;">{{ home_page_content.textCarusel }}</p>
                            <!-- Button trigger modal -->
                            <button type="button" class="btn btn-lg btn-primary" data-toggle="modal" data-target="#exampleModal">
                                ЗАКАЗАТЬ
                            </button>
                        </div>
                    </div>

                </div>

                {% endfor %}
            </div>
            <a class="carousel-control-prev" href="#myCarousel" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Previous</span>
            </a>
            <a class="carousel-control-next" href="#myCarousel" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Next</span>
            </a>
        </div>
        <!-- Modal -->
        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h5 class="modal-title" id="exampleModalLabel">БЫСТРЫЙ ЗАКАЗ</h5>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        {{ include('feedback/_form.html.twig') }}
                    </div>

                </div>
            </div>
        </div>

        <!--End Modal -->
    {% endblock %}
    <hr class="featurette-divider">
    {% block marketing %}
        <div class="container marketing">

            <!-- Three columns of text below the carousel -->
            <div class="row">
                {% for home_page_content in home_page_contents %}
                <div class="col-lg-4 text-center">
                    <img  src="{{ asset('images/upload_images/' ~ home_page_content.imgCircle) }}">
                    <h2>{{ home_page_content.headingCircle }}</h2>
                    <p>{{ home_page_content.textCircle }}</p>
                   {# <p><a class="btn btn-secondary" href="#" role="button">View details &raquo;</a></p>#}
                </div><!-- /.col-lg-4 -->
                {% endfor %}
            </div><!-- /.row -->


            <!-- START THE FEATURETTES -->

            <hr class="featurette-divider">
            {% for home_page_content in home_page_contents %}
            <div class="row featurette">
                <div {% if loop.index0 == 1 %} class="col-md-7 order-md-2" {% else %} class="col-md-7 " {% endif %}>

                    <h2>{{ home_page_content.headingMarketing }}</h2>
                    <p>{{ home_page_content.textMarketing }}</p>
                </div>
                <div {% if loop.index0 == 0 %} class="col-md-5 order-md-1" {% else %} class="col-md-5 " {% endif %}>

                    <img class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" src="{{ asset('images/upload_images/' ~ home_page_content.imgMarketing) }}">
                </div>
            </div>

            <hr class="featurette-divider">

            {% endfor %}



            <!-- /END THE FEATURETTES -->

        </div><!-- /.container -->

    {% endblock %}


{% endblock %}

