<!doctype html>
<html lang="en">
<head>

  {#  <!-- Google Tag Manager -->
    <script>(function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
                new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
            j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
            'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
        })(window,document,'script','dataLayer','GTM-5Q472M4');</script>
    <!-- End Google Tag Manager -->
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-163352376-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());

        gtag('config', 'UA-163352376-1');
    </script>
#}
    <meta http-equiv="Content-type" content="text/html;charset=UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="SKYPE_TOOLBAR" content="SKYPE_TOOLBAR_PARSER_COMPATIBLE">
    <meta property="og:title" content="HolodRemont"/>
    <meta property="og:description" content="Ремонт холодильников в Киеве и области. Высокие стандарты качества. Цены. "/>
    <meta property="og:image" content="{{ asset('images/favicon_hr.png') }}" />
    <meta property="og:url" content="https://holodremont.kiev.ua"/>
    <meta property="og:site_name" content="Ремонт холодильников" />
    <meta property="og:locale" content="" />
    <meta property="og:type" content="website" />
    <link rel="shortcut icon" href="{{ asset('images/favicon_hr.png') }}" type="image/png">
    <link rel="home" href="https://holodremont.kiev.ua" />
    <meta name="title" content="HolodRemont">
    <meta name="description" content="Ремонт холодильников в Киеве и области. Высокие стандарты качества. Цены.">
    <meta name="keywords" content="ремонт холодильников, фрион, компрессор, старый холодильник, холодильник, ремонт">




    <title>{% block title %}{% endblock %}</title>
    {% block stylesheets %}
        {{ encore_entry_link_tags('app') }}
    {% endblock %}

</head>
<body>

<header>
    {% block header %}
      {#  {% block googltags %}
            <!-- Google Tag Manager (noscript) -->
            <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-5Q472M4"
                              height="0" width="0" style="display:none;visibility:hidden"></iframe></noscript>
            <!-- End Google Tag Manager (noscript) -->
        {% endblock %}#}
        {{ include('header.html.twig') }}

    {% endblock %}
</header>
<main role="main">
    {% block body %} {% endblock %}
    {% block sidebar %} {% endblock %}
    {% block footer %}
        {{ include('footer.html.twig') }}
    {% endblock %}
</main>

{% block javascripts %}
    {{ encore_entry_script_tags('app') }}
{% endblock %}
</body>
</html>

